h1{
    font-family: 'Shadows Into Light', cursive;
    margin: auto;
    text-align: center;
}

#table{
    margin: auto;
    padding-top: 10px;
}

th{
    background-color: black;
    height: 300px;
    width: 150px;
    border: 5px solid white;
}

#one{
    background-color: #3066BE;
}

#two{
    background-color: #119DA4;
}

#three{
    background-color: #6D9DC5;
}

#four{
    background-color: #80DED9;
}

#five{
    background-color: #AEECEF;
}