body{
    font-size: 18px;
}
h1{
    font-size: 60px;
}

.btn{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

table, tr, td{
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border: 5px solid black;
    height: 150px;
    width: 150px;
    margin: auto;
    font-size: 100px;
    padding: 0px
}
